body{
   color: white;
   background: black;
   font-family: "DM Serif Display", serif;
   margin: 88px;
   margin-bottom: 100px;
}
.chamada{
   background: rgb(rgb(248, 210, 210);
   margin-top: 80px;
   margin-bottom: 80px;
   display: flex;
   justify-content: center;
}

header{
font-size: 35px;
color: black;
border-bottom: solid 3px white;
padding: 20px;

}
h1{

   font-size: 40px;

}
.chamada-texto{
   margin-right: 5%;
}
.categoria{
   margin-top: 50px;
   padding-left: 20px;
   margin-right: 20px;
}
.categoria-videos img{
   opacity: 0.5;
   height: 200px;
}
.categoria-videos img:hover{
   opacity: 1.0;
   border: 3px solid plum;
}